@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1169px) {
    .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
        visibility:visible;
        -webkit-animation: cd-bounce-2-inverse .6s;
        animation: cd-bounce-2-inverse .6s
    }

    .vertical-timeline-element-content .vertical-timeline-element-date {
        text-align:right;
        width: 100%;
        margin-bottom: -12px
    }
}

.vertical-timeline-element-content .vertical-timeline-element-date,.vertical-timeline-element-content p {
    font-size: 0.9rem;
    font-weight: 500
}